
.alert{
    width: 90%;
    background-color: #7477bf;
    margin: 2em auto;
    padding: 0 1.5em;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    // font-size: x-small;
    font-size: 11px;
    @media(min-width: 450px){
        font-size: 16px;
    }
}
