
.alert{
    background-color: #7477bf;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 1.5em;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
}
