.main-header{
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: relative;
    input {
        outline: none;
    }
    .fa-search{
        position: absolute;
        top: 23px;
        right: 35px;
        cursor: pointer; 
    }
    @media(min-width:768px){
        padding: 0 1.3em;
    }
    .main-header-search input{
           border-radius: 5px;
           height: 2em;
           
    }

}

