.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(min-width:768px){
        padding-left: 1.3em;
    }
    h2{
        font-size: 20px;
        margin: 0 1em;
    }
    .gray-box {
        background-color: rgba(237, 234, 234, 0.988);
        height: 3.4em;
        width: 100%;
        border-left: 2px solid lightgray;
        border-bottom: 1px solid lightgray;
    }  
}

