
header{
    color: white;
    padding: .8em;
    display: flex;
    justify-content: space-between;
    background-color: #514efa;
    grid-area: header;
    span{
       font-family: monospace;
    }
    .svg-div{
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: space-around;
    }
    .nav-bell{
        fill: white;
        height: 30px;
        border-right: solid black 1px;
        padding-right: 1em;
    }
    img{
        border-radius: 360px;
        height: 30px; 
    }
}

