
header{
    color: white;
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-content: space-between;
    background-color: #7477bf;
    grid-area: header;
    font-size: medium;
    span{
       font-family: monospace;
    }
    .flex-container{
        display: flex;
        width: 200px;
        align-items: center;
        justify-content: space-around;
    }
    .svg-container{
        border-right: 1px solid black;
        .green-dot{
            height: 5px;
            width: 5px;
            border-radius: 50%;
            position: absolute;
            background-color: lime;
            
        }
        .nav-bell{
            fill: white;
            height: 30px;
            padding-right: 1em;
            &:hover{
                fill: lime;
                transition: .3s ease-in;
                animation: bell .5s ease-in-out  backwards;
                animation: name duration timing-function delay iteration-count direction fill-mode;
            }
        }
    }
    
    img{
        border-radius: 360px;
        height: 30px; 
    }
}

@keyframes bell {
    
    50%{
        transform: scale(1.3);
        
    }
    75%{
        transform: scale(.8);
        
    }
}