header{
    color: white;
    padding: .5em 1em;
    // display: flex;
    background-color: #7477bf;
    grid-area: header;
    .wrap{
        display: flex;
        justify-content: space-between;
    }
    h3{
        font-size: 24px;
    }
    span{
       font-family: monospace;
    }
    .flex-container{
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 1em;
        p {
            font-size: small;
        }
    }
    .svg-container{
        position: relative;
        &:hover{
            animation:  bell .5s ease-in-out  backwards;
        }
        .green-dot{
            height: 5px;
            width: 5px;
            border-radius: 50%;
            position: absolute;
            background-color: lime;
            top: -5px;
            right: 9px; 
        }
        .nav-bell{
            fill: white;
            transition: fill .8s ease-out;
            height: 30px;
            padding-right: .5em;
            &:hover{
                fill: lime;
                transition: fill .3s ease-in; 
            }
        }
    }
    #bellMenu{
        position: absolute;
        top: 50px;
        left: -91px;
        background-color: darkblue;
        opacity: 0;
        z-index: 1;
        border-radius: 10px;
        cursor: pointer;
        transition: .5s ease-in;
        a {
            list-style-type: none;
            text-decoration: none;
            padding: 6px;
            
            &:hover{
                color: lime;
            }
        }
        .menuList{
            padding: 1.5em;
            margin-right: 3em;
        }   
    }
    .img-container{
        border-left: 1px solid black;
    }
    img{
        border-radius: 360px;
        height: 30px; 
        padding: 0 6px;
    }
}
@keyframes bell {
    50%{
        transform: scale(1.3);
    }
    75%{
        transform: scale(.8);
    }
}


