
 .traffic-header{
     display: grid;
     grid-template-columns: 150px 2fr;
     margin-top: 2em;
     grid-area: main
     ;
     .traffic-nav{
         display: flex;
         justify-content: space-evenly;
         list-style-type: none;
         align-items: center;
         a {
            text-decoration: none;
            &:hover{
                background-color: lime;
                // transition: .3s ease-in-out;
                // border: solid 1px black;
                // border-radius: 5px;
                // padding: 5px;
            }
         } 
     }
     
 }

 