.traffic-header{
    grid-area: main;
    margin-top: 1em;
    @media(min-width:768px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .traffic-nav{
        display: flex;
        list-style-type: none;
        padding-left: 16px;
        li {
            padding: 5px;
            &:hover{
                border: solid 1px black;
                background-color: lime;
                border-radius: 20px;
                padding: 8px;
            }
        }
    }
 }
 