  section h3{
    padding-left: 1em;
  }
  .members,.activity{
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: auto;
    grid-row-gap: 1em;
    align-items: center;
    
    padding: 1em;
    @media(min-width: 768px){
      border: solid black 1px;
      
    }
  }
    .members-container{
      background-color: whitesmoke;
      margin: 0 1em;
      box-shadow: 5px 3px 5px black;
      width: 95%;
      display: flex;
      align-items: center;
      font-size: smaller;
      border-radius: 10px;
      padding: 1em;
      position: relative;
      .members-text{
        padding-left: .5em;
      }
      @media(min-width:768px){
        background-color: white;
        font-size: x-small;
        padding: 5px;
        border-bottom: solid 1px black;
        box-shadow: none; 
        border-radius: 0px; 
        &:nth-last-child(1){
          border-bottom: none;
        }
       
      }
      .activity{
        @media(min-width: 768px){
          margin-left: 2em;
        }
      }
    img{
        height: 40px;
        border-radius: 360px;
    }
    p {
      margin: 0 0 0 auto;  
    }
    
    a {
      text-decoration: none;
      margin-bottom: 10px;  
    }
    
  } 
  

