section h5{
  padding-left: 1em;
}
section.members,
section.activity{
  background-color: whitesmoke;
  @media(min-width: 768px){
    border: solid black 1px; 
  }
}
.members-container{
  margin: 0 1.5em;
  border-bottom: solid 1px;
  text-align: center;
  font-size: 16px;
  padding: 2em 0;
  position: relative;
  &:last-child{
    border-bottom: none;
  }
  .members-text,
  .activity-text{
    padding-left: .5em;  
  }
  .activity-text + p {
    display: none;
  }
  @media(min-width:768px){
    display: flex;
    align-items: center;
    border-bottom: solid 1px black;
    box-shadow: none; 
    border-radius: 0px; 
    &:nth-last-child(1){
      border-bottom: none;
    }
    .activity{
      margin-left: 2em;
    }
    .members-text,
    .activity-text{
      text-align: left;
    }
    .activity-text + p {
      display: initial;
    }
  }
  img{
    height: 60px;
    border-radius: 360px;
  }
  p{
    margin: 0 0 0 auto;  
  }
  a{
    text-decoration: none;
    margin-bottom: 10px;  
  }
  @media(min-width:1024px){
    width: 90%;
    margin: 0 auto;
    font-size: small;
  }
} 
  

