.social{
    max-width: 320px;
    @media(min-width:325px){
        max-width: initial;
    }
    @media(min-width:768px){
        display: grid;
        // grid-template-columns: 2fr 2fr 2fr;
        grid-template-columns: repeat(auto-fit,minmax(200px, 2fr));
        grid-template-rows: 50px 120px;
        .twitter {
            grid-column: 1 / span 1;
        }
        .facebook{
            grid-column: 2 / 3;
        }
        .google{
            grid-column: 3 / 4;
        }
    }
    .social-container{
        background-color: whitesmoke;
        border: solid 2px lightgray ;
        border-radius: 10px;
        font-size: smaller;
        color: #514efa;
        margin: 1em;
        display: flex;
        align-items: center;
        padding: 1em 3em;
        @media(min-width:550px) {
            padding-left: 7em;
        }
        @media(min-width:768px){
            display: flex;
            padding:2em;
        }
        @media(min-width:1024px){
            display: flex;
            justify-content: flex-start;
            padding:2em;
        }
        .social-image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius:10px;
            background-color: #514efa;
            margin-right: 1em;
            .facebook{
                margin-top: 11px;
                width: 60px;
                height: 50px;
            }
            svg{
                width: 30px;
                fill: white;
            }  
        }
        .social-text p {
            margin-bottom: 0;
            @media(min-width:768px){
                grid-template-rows: 0px;
            }  
        }
        .stats{
            color: black ;
            font-size: x-large;
            margin-top: 0;
        }
    }
}




